{% extends 'base.html' %}

{% block content %}
<div class="container">
    <h1>Home</h1>

    <div>
        Filter:
        <a href="/?status=completed">Completed</a>
        <a href="/?status=remaining">Not Completed</a>
        <a href='/'>All</a>
    </div>

    <div>
        Search:
        <form action="" method="get">
            <input type="text" name="search" placeholder="Search by title" value="{{ search }}">
            <button type="submit" class="btn btn-outline-primary">Search</button>
        </form>
    </div>

    <ul>
        {% for task in tasks %}
            <li>{{ task.title }}</li>
        {% endfor %}
    </ul>
</div>




{% endblock %}